<template>
    <v-row>
        <v-col cols=12>
            <v-btn v-if="view" class="mr-2" color="orange" @click="loadView">
                View
            </v-btn>
            <v-dialog v-model="dialog" persistent max-width="600px">
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                    color="orange"
                    class="mr-2"
                    v-bind="attrs"
                    v-on="on"
                    >
                    Update
                    </v-btn>
                </template>
                <edit-form
                    :user="user"
                    @closeDialog="dialog=false"
                    @userUpdated="userUpdated"
                ></edit-form>
            </v-dialog>
            <v-btn class="mr-2" color="orange" @click="removeUser" :loading="loading">
                Remove
            </v-btn>
        </v-col>
    </v-row>
</template>
<script>
import EditForm from './EditForm';
export default {
    props : {
        user : {
            type: Object
        },
        view : {
            type: Boolean,
            default: true
        }
    },
    components:{    
        EditForm
    },
    data(){
        return {
            dialog: false,
            loading: false
        }
    },
    methods : {
        loadView(){
            this.$router.push({path: `/user/${this.user.id}`})
        },
        userUpdated(userId){
            this.$emit('userUpdated', userId)
        },
        async removeUser(){
            this.loading = true
            await this.$store.dispatch('removeUser', this.user.id)
            this.loading = false
            this.$emit('userRemoved')
        }
    }
}
</script>