<template>
    <v-card>
        <v-card-title>
          <span class="headline">User Profile</span>
        </v-card-title>
        <v-card-text>
            <v-form v-model="valid">
                <v-container>
                    <v-row>
                        <v-col cols="12">
                            <v-text-field 
                                label="First Name"
                                :rules="nameRules"
                                v-model="userLocal.first_name" 
                                required>
                            </v-text-field>
                            <v-text-field 
                                label="Last Name"
                                :rules="nameRules"
                                v-model="userLocal.last_name" 
                                required>
                            </v-text-field>
                            <v-text-field 
                                label="Work Place"
                                v-model="userLocal.work_place"
                                :rules="[requiredRule]"
                                required>
                            </v-text-field>
                            <v-text-field 
                                label="Password"
                                type="password"
                                v-model="userLocal.password"
                                :rules="[requiredRule, passRule]"
                                required>
                            </v-text-field>
                            <v-text-field 
                                label="Confirm password"
                                type="password"
                                :rules="[requiredRule,confirmPassword]"
                                v-model="confirmPass"
                                required>
                            </v-text-field>
                        </v-col>
                    </v-row>
                </v-container>
            </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close">Close</v-btn>
          <v-btn color="blue darken-1" :disabled="!valid" text :loading="loading" @click="save">Save</v-btn>
        </v-card-actions>
      </v-card>
</template>
<script>
export default {
    props : {
        user : {
            type: Object
        },
        opened : {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            userLocal: {},
            confirmPass : '',
            valid: false,
            loading: false,
            nameRules: [
                v => v && v.length > 4 || 'Name should have at least 3 characters',
                v => v && v.length < 20 || 'Name cannot be longer then 20 characters',
                v => !/[\s]/.test(v) || 'Spaces are not allowed in name'
            ],
            requiredRule : v=>!!v ||'Shouldn\'t be empty',
            passRule: v=> /\S{3,20}/.test(v)|| 'Password should be from 3 to 20 charaters long',
            confirmPassword : v => v === this.userLocal.password || 'Confirm password doesn\'t match entered one'
        }
    },
    methods : {
        close(){
            this.$emit('closeDialog')
        },
        async save(){
            try{
                this.loading = true
                const userId = await this.$store.dispatch('saveUser', this.userLocal);
                this.$emit('userUpdated', userId)
                this.loading= false
                this.close();
            }catch(err){
                this.loading= false
                console.log(err)
            }
        }
    },
    beforeMount(){
        Object.assign(this.userLocal, this.user)
    },
    watch : {
        opened(newVal){
            if(newVal){
                this.userLocal = {}
                this.confirmPass = ''
                Object.assign(this.userLocal, this.user)
            }
        }
    }
}
</script>