<template>
    <v-card
    class="mx-auto"
  >
    <v-img
      class="white--text align-end"
      :height="mini ? '200px' : '450px'"
      :src="user.avatar"
    >
      <v-card-title>{{user.first_name + ' ' + user.last_name }}</v-card-title>
    </v-img>

    <v-card-text class="text--primary">
      <div>Email:{{user.email}}</div>
    </v-card-text>

    <v-card-actions>
      <actions 
      :user="user" 
      :view="!no_view"
      @userUpdated="userUpdated"
      @userRemoved="userRemoved">
    </actions>
    </v-card-actions>
  </v-card>
</template>
<script>
import Actions from './ActionsLine'
export default {
    data (){
      return {
        user:{}
      }
    },
    props: {
      id : {
        type : String
      },
      mini : {
        type: Boolean,
        default : true
      },
      no_view : {
        type: Boolean,
        default : false
      }
    },
    components : {Actions},
    methods:{
      userUpdated(id){
        this.loadData(id)
      },
      userRemoved(){
        this.$emit('userRemoved')
      },
      async loadData(id){
        try{
          let user = await this.$store.dispatch('getUserById', id)
          this.user = user.userData;
          this.$forceUpdate()
        }catch(err){
          this.$router.push({path: "/404"})
        }
      },
    },
    beforeMount(){
      this.loadData(this.id)
    },
    watch: {
      id(val) {
        this.loadData(val)
      }
    }
}
</script>>