<template>
 <div>
   <v-container>
      <v-row>
        <v-col cols="12">
          <user-preview 
            :id="id"
            :mini="false"
            :no_view="true"
            @userRemoved="userRemoved"           
          >
          </user-preview>
        </v-col>
      </v-row>
   </v-container>
  </div> 
</template>

<script>
import UserPreview from '../user/Preview'
export default {
  name: 'User',
  props : {
    id : {
      type: String
    }
  },
  components : {
    UserPreview
  },
  methods:{
    userRemoved(){
      this.$router.push({path: '/users'})
    }
  }
  
}
</script>