<template>
 <div>
    <v-container>
      <v-row>
        <v-col cols="6">
          <h1>Users list</h1>
          <v-dialog v-model="dialog" persistent max-width="600px">
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                    color="primary"
                    class="mr-2"
                    v-bind="attrs"
                    v-on="on"
                    >
                    Add User
                    </v-btn>
                </template>
                <edit-form
                    :user="{}"
                    :opened="dialog"
                    @closeDialog="dialog=false"
                    @userUpdated="userUpdated"
                ></edit-form>
          </v-dialog>
        </v-col>      
      </v-row>
      <v-row>
        <v-col cols="12" md="4" v-for="(user,index) in users" :key="index">
          <user-preview 
            :id="user.userData.id"
            @userRemoved="userRemoved"
          ></user-preview>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-pagination
            :circle="circle"
            :length="length"
            :next-icon="nextIcon"
            :prev-icon="prevIcon"
            :page="page"
            :total-visible="totalVisible"
            :value="page"
            @input="searchPageChanged"
          ></v-pagination>
        </v-col>
      </v-row>
    </v-container>
  </div> 
</template>

<script>
import UserPreview from '../user/Preview'
import EditForm from '../user/EditForm'
export default {
  name: 'UserList',
  components : {
    UserPreview,
    EditForm
  },
  data(){
    return {
      circle: false,
      disabled: false,
      nextIcon: '>',
      nextIcons: ['>>', '>', '>'],
      prevIcon: '<',
      prevIcons: ['<<', '<', '<'],
      totalVisible: 10,
      users: [],
      dialog: false
    }
  },
  props : {
    page : {
      default : 1,
      type: Number
    }
  },
  computed : {
    length(){
      if(!this.$store.getters['usersOnPage']){
        return 1;
      }
      return Math.ceil(this.$store.getters['totalActiveUsers']/this.$store.getters['usersOnPage'])
    }
  },
  beforeMount(){
    this.getUsers(this.page)
  },
  methods: {
    searchPageChanged(payload){
      if(payload!== this.page){
        this.getUsers(payload)
        this.$router.push(`users?page=${payload}`)
      }
    },
    getUsers(page){
      this.$store.dispatch('getUsers', page).then(data=>{
          this.users = data;
        }).then(()=>{
          if(this.page > this.length){
            this.searchPageChanged(this.length)
          }
        })
    },
    userRemoved(){
      this.getUsers(this.page)
    },
    userUpdated(){
      this.getUsers(this.page)
    }
  },
  watch: {
    $route(to, from) {
      if(to.path === from.path && to.query.page !== from.query.page){
        this.$forceUpdate()
      }
      if(to.query.page > this.length){
        this.$router.push(`users?page=${this.length}`)
      }
      if(isNaN(to.query.page)){
        this.$router.push('users?page=1')
      }
    }
  }
}
</script>