<template>
    <v-navigation-drawer 
        app
        permanent
        dark
        :mini-variant="minified"
        :expand-on-hover="minified"
      >
        <v-list
          dense
          nav
          class="py-0"
        >
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>Some title here</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-divider></v-divider>

          <v-list-item
            v-for="item in items"
            :key="item.title"
            :to="item.route"
            link
          >
            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
</template>

<script>
export default {
  name: 'Menu',
  data() {
    return {
      minified : false,
      items : [
        {
          title : 'Home',
          route : '/'
        },
        {
          title : 'Users',
          route : '/users'
        }
      ]
    }
  },
  methods : {
    onResize() {
      this.minified = window.innerWidth < 769;
    }
  },
  mounted () {
    window.addEventListener('resize', this.onResize)
    this.onResize()
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResize)
  }
}
</script>