<template>
   <v-app>
  <Menu></Menu>
  <v-main>
    <v-container fluid>
      <router-view></router-view>
    </v-container>
  </v-main>
</v-app>
</template>

<script>
import Menu from './components/pages/menu/Menu'
export default {
  name: 'App',

  components: {
    Menu
  },

  data: () => ({})
};
</script>
